<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta name="author" content="Satellight Author">

    <title>Satellight</title>

    <meta name="description" content="This is the Satellight index description.">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="${require('../images/favicon/apple-icon-57x57.png')}">
    <link rel="apple-touch-icon" sizes="60x60" href="${require('../images/favicon/apple-icon-60x60.png')}">
    <link rel="apple-touch-icon" sizes="72x72" href="${require('../images/favicon/apple-icon-72x72.png')}">
    <link rel="apple-touch-icon" sizes="76x76" href="${require('../images/favicon/apple-icon-76x76.png')}">
    <link rel="apple-touch-icon" sizes="114x114" href="${require('../images/favicon/apple-icon-114x114.png')}">
    <link rel="apple-touch-icon" sizes="120x120" href="${require('../images/favicon/apple-icon-120x120.png')}">
    <link rel="apple-touch-icon" sizes="144x144" href="${require('../images/favicon/apple-icon-144x144.png')}">
    <link rel="apple-touch-icon" sizes="152x152" href="${require('../images/favicon/apple-icon-152x152.png')}">
    <link rel="apple-touch-icon" sizes="180x180" href="${require('../images/favicon/apple-icon-180x180.png')}">

    <link rel="icon" type="image/png" sizes="192x192" href="${require('../images/favicon/android-icon-192x192.png')}">
    <link rel="icon" type="image/png" sizes="32x32" href="${require('../images/favicon/favicon-32x32.png')}">
    <link rel="icon" type="image/png" sizes="96x96" href="${require('../images/favicon/favicon-96x96.png')}">
    <link rel="icon" type="image/png" sizes="16x16" href="${require('../images/favicon/favicon-16x16.png')}">

    <!-- Manifest -->
    <link rel="manifest" href="${require('../manifest.json')}">
    <meta name="application-name" content="Satellight" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Web App Settings for Apple Devices -->
    <meta name="apple-mobile-web-app-title" content="Satellight" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="${require('../images/favicon/favicon.ico')}">

    <!-- Web App Settings for Windows Devices -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="${require('../images/favicon/ms-icon-144x144.png')}">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-config" content="${require('../browserconfig.xml')}" />

    <!-- Open Graph Tags
    <meta property="og:url" content="" />
    <meta property="og:type" content="" />
    <meta property="og:locale" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:url" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:type" content="" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="fb:app_id" content="" />
    -->

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

    {# Add any other template-specific HEAD tags by extending the head block #}
    {% block head %}{% endblock %}

  </head>

  <body>

    {# The Intro block appears above flash messages (used for temporary information display) #}
    {% block intro %}{% endblock %}

    {# The content block should contain the body of your template"s content #}
    {% block content %}{% endblock %}

  </body>

</html>
